@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Activar Cámara web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <style type="text/css">
        body{
            font-family: Arial, Helvetica, sans-serif;
        }

        h2,h3{
            margin-top:0;
        }
        form{
            margin-top: 16px;
        }
        form>input{
            margin-right: 16px;
        }
        #buttonhide{
            background: transparent;
            border:none !important;
            font-size: 0;
        }
    </style>
</head>
<body class="container border">
    <br/>
    <div class="row">
    <div class="">
        <div class="">
            <div class="">
                Cámara Activada
            </div>

            <div class="">
                <div id="my_camera">
                
            </div>
            <form>
                <input type="button" class="btn btn-primary" value="Tomar foto"
                    onclick="take_snapshot()"/>
            </form>
        </div>
    </div>
    </div>
    <div class="row" >
        <div class="">
            <div class="">
            <div class="">
    
            </div>
            <div class="">
              <br/>
              <div id="results"> Tu foto saldrá aquí</div>

            </div>
            <br/>
            <br/>
        </div>    
    </div>
    </div>
    <div class=""></div>
    <script src="~/webcamjs/webcam.js"></script>
    <script languaje="Javascript">
        Webcam.set({
            width:300,
            height:230,
            image_format:'jpeg',
            jpeg_quality:90
            
        });
        Webcam.attach('#my_camera');
    </script>
    </div>
    <script languaje="JavaScript">
       function take_snapshot(){
            Webcam.snap(function(data_uri){
                document.getElementById('results').innerHTML =
                '<img src="' +
                data_uri +
                '"/>';
                Webcam.upload(data_uri,
                'Camera/Capture',
                    function(code, text){
                        alert('Foto tomada con éxito')
                    });
            })
       }
    </script>
</body>

</html>