

@{
    @using System.Diagnostics;
    @using Microsoft.AspNetCore.Mvc;
    @using WebCamCapturing.Models;
    @using System;
    @using System.Collections.Generic;
    @using System.Linq;
    @using System.Text;
    @using System.Threading.Tasks;

    @using Google.Cloud.Vision.V1;
    @using System.IO;

    var mostrar="";
    
                string credentialsString = File.ReadAllText("C:/Users/User/Desktop/WebCamActivar/key.json");
                Image image = Image.FetchFromUri("https://www.rosen.com.pe/arquivos/livingestar_futones.jpg?v=636343519601200000");
                               

                ImageAnnotatorClient client = new ImageAnnotatorClientBuilder{
                    JsonCredentials = credentialsString
                }.Build();

                IReadOnlyList<LocalizedObjectAnnotation> annotations=client.DetectLocalizedObjects(image);
                foreach(LocalizedObjectAnnotation annotation in annotations){
                    string poly = string.Join (" - ", annotation.BoundingPoly.NormalizedVertices.Select(v => $"({v.X}, {v.Y})"));
                    mostrar=($"Nombre del objeto: {annotation.Name}; ID: {annotation.Mid}; Score: {annotation.Score}; Bounding poly: {poly}");
                }
            

            
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">RECONOCIMIENTO DE OBJETOS EN UNA IMAGEN</h2>
    <img src="https://www.rosen.com.pe/arquivos/livingestar_futones.jpg?v=636343519601200000" width="400px" height="200px" alt="imgf"/> 
    <br>
    <br>
    @mostrar
</div>
    